<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>

    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        dignissimos recusandae cum, eaque provident placeat cumque numquam
        expedita maiores atque, debitis sed molestiae corrupti doloremque, sequi
        fuga modi tempora perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        dignissimos recusandae cum, eaque provident placeat cumque numquam
        expedita maiores atque, debitis sed molestiae corrupti doloremque, sequi
        fuga modi tempora perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        dignissimos recusandae cum, eaque provident placeat cumque numquam
        expedita maiores atque, debitis sed molestiae corrupti doloremque, sequi
        fuga modi tempora perspiciatis.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>

  </body>
</html>
